@if (step) {
  <button class="tender-step--wrapper">
    <mat-card class="tender-step">
      <div class="flex justify-between flex-wrap">
        <div>
          @if (step.status) {
            <ui-status-tag [status]="step.status"></ui-status-tag>
          }
          <h2 class="mb-1 mt-0" [ngClass]="{'mt-3':step.status}">{{ step.title }}</h2>
          <p class="m-0 mt-3">{{ step.description }}</p>
        </div>
        <div class="flex items-end">
          <mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
    </mat-card>
  </button>
}
